# ==========================================
# Configurações do Pipeline ETL 
# ==========================================

# Ambiente de Execução (dev, prod, test)
ENVIRONMENT=dev

# Caminho do Data Warehouse
DUCKDB_PATH=data/database/analytical_warehouse.duckdb

# URLs das Fontes de Dados
NASA_API_BASE_URL=https://power.larc.nasa.gov/api/temporal/daily/point
WORLD_BANK_API_BASE_URL=http://api.worldbank.org/v2/country

# Timeout Máximo para as APIs (em segundos)
API_TIMEOUT_SECONDS=30